@use "@/scss/mixins";

.gridContainer {
  display: grid;
  grid-gap: 16px;
  grid-template-columns: repeat(2, 1fr);

  @include mixins.for-tablet-portrait-up {
    grid-template-columns: repeat(3, 1fr);
  }

  @include mixins.for-desktop-up {
    grid-template-columns: repeat(6, 1fr);
  }
}