.container {
  max-width: 768px;
  margin: auto;

  .imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 292px;
    height: 292px;
    background: var(--color-neutral-1);
    border-radius: var(--border-radius-medium);
    margin-right: 32px;

    img {
      height: 100%;
    }
  }

  .descriptionContainer {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
}

.hoveringButton {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-text-3);
  padding: 4px;
  border-radius: var(--border-radius-small);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.06), 0 8px 23px rgba(0, 0, 0, 0.08);

  &:hover {
    box-shadow: none;
  }
}