.container {
  max-width: 768px;
  margin: auto;

  .imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 292px;
    height: 292px;
    background: var(--color-neutral-1);
    border-radius: var(--border-radius-medium);
    margin: 0 auto 16px auto;

    @media screen and (min-width: 768px) {
      margin: 0 32px 0 0;
    }

    img {
      height: 100%;
    }
  }

  .descriptionContainer {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
}