.container {
  position: relative;

  svg {
    position: absolute;
    top: 6px;
    left: 8px;
  }

  .input {
    border-radius: var(--border-radius-small);
    background: var(--color-neutral-2);
    color: var(--color-neutral-8);
    padding: 6px 8px 6px 32px;
    font-size: 14px;
    width: 100%;

    @media screen and (min-width: 768px) {
      width: 320px;
    }

    &::placeholder {
      color: var(--color-neutral-8);
    }

    &:hover {
      background: var(--color-neutral-3);
    }
  }

  .clear {
    position: absolute;
    right: 35px;
    cursor: pointer;
  }

  .dropdown {
    position: absolute;
    top: 38px;
    width: 100%;
    background: white;
    border-radius: var(--border-radius-medium);
    overflow-y: auto;
    z-index: 90;
    display: flex;
    flex-direction: column;
    padding: 8px;
    box-shadow: 0 16px 32px 0 rgba(28,30,45, 0.2);

    @media screen and (min-width: 768px) {
      max-width: 344px;
    }
  }
}
