.container {
  position: relative;

  .trigger {
    padding: 6px;
    border-radius: 4px;
    cursor: pointer;

    &:hover, &.active {
      background: var(--color-neutral-2);
    }

    &.active {
      color: var(--color-blue-6);
    }
  }

  .dropdown {
    background: white;
    min-width: 134px;
    padding: 16px;
    position: absolute;
    top: 40px;
    right: 0;
    z-index: 90;
    display: flex;
    flex-direction: column;
    box-shadow: 0 16px 32px 0 rgba(28,30,45, 0.2);
  }
}

