.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 4px;
  background: white;
  cursor: pointer;

  svg {
    fill: #838691;
  }

  &:hover {
    background: var(--color-neutral-2);
  }

  &.active {
    svg {
      background: var(--color-neutral-1);
      fill: var(--color-blue-6);
    }
  }
}