.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 4px;
  background: white;
  cursor: pointer;

  &:hover {
    background: var(--color-neutral-2);
  }
}