@import "tailwindcss";

@theme static {
	--default-font-family: Inter;

	--color-neutral-1: #f9fafa;
	--color-neutral-2: #f4f5f6;
	--color-neutral-3: #ededf0;
	--color-neutral-6: #b6b9c4;
	--color-neutral-8: #878788;
	--color-neutral-10: #50565e;

	--color-gray-2: #f4f5f6;
	--color-gray-4: #bdbdbd;

	--color-text-1: rgba(0, 0, 0, 0.85);
	--color-text-2: rgba(0, 0, 0, 0.65);
	--color-text-3: #808893;

	--color-blue-6: #006fff;
	--color-blue-7: #0059cc;

	--color-red-3: #f9b0b2;
	--color-red-6: #f03a3e;

	--border-radius-small: 4px;
	--border-radius-medium: 8px;

	--tw-ring-color: red; /* Custom blue */
}

/* Add custom color for tabbing */
@layer base {
	:focus-visible {
		@apply ring-2 ring-[#006fff] outline-none;
	}
}
